In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, time, timedelta, date
from yahoofinancials import YahooFinancials

In [6]:
# stock_list = ['LAURUSLABS.NS', "ADANIENT.NS", "ADANIPORTS.NS", "ADANIPOWER.NS", "AMARAJABAT.NS", "AMBUJACEM.NS",
#               "APOLLOHOSP.NS", "APOLLOTYRE.NS", "ASHOKLEY.NS", "ASIANPAINT.NS","AUROPHARMA.NS", "AXISBANK.NS"]

# start_date = '2021-07-01'
# trade_date = '2021-07-08'

In [5]:
# for x in stock_list:
#     while True:
#         try:
#             data = yf.download(x, start="2021-01-01", end=trade_date, interval='5m', threads = False)
#             data = data.drop(columns = ['Low','High', 'Open', 'Adj Close', 'Volume'])
#             data.columns=[x]
#             data = data.reset_index()
#             stock_data=data[x]
#             close_data = pd.concat([close_data,stock_data], axis=1)
#             print(x)
#         except Exception as ex:
#             print(ex)
#             continue
#         break

In [35]:
stock_list = ['LAURUSLABS.NS', "ADANIENT.NS", "ADANIPORTS.NS"]

yesterday = datetime.now() - timedelta(1)
start_date = datetime.strftime(yesterday, '%Y-%m-%d')
trade_date = datetime.now().date().strftime('%Y-%m-%d')
start_date

'2021-07-09'

In [71]:
def get_closing_data(stock_list):
    close_data = pd.DataFrame()
    for stock in stock_list:
#         print("{} EOD Data {}".format(stock, trade_date))

        yahoo_financials = YahooFinancials(stock)
        data = yahoo_financials.get_historical_price_data(start_date=start_date, 
                                                          end_date= trade_date,
                                                          time_interval='daily')

        data_df = pd.DataFrame(data[stock]['prices'])
        data_df = data_df.drop('date', axis=1).set_index('formatted_date')
        data_df.reset_index(inplace=True)
        data_df = data_df.rename(columns={'formatted_date':'date'})
        data_df = data_df.drop(columns = ['adjclose', 'volume'])
        data_df['stock'] = stock
        close_data = pd.concat([close_data,data_df], axis=0)

    close_data = close_data.drop_duplicates()
    close_data.reset_index(inplace=True)
    close_data.drop('index',axis=1, inplace=True)    
    return close_data

In [72]:
close_data = get_closing_data(stock_list)

LAURUSLABS.NS EOD Data 2021-07-10
ADANIENT.NS EOD Data 2021-07-10
ADANIPORTS.NS EOD Data 2021-07-10

In [73]:
cols_order = ['stock', 'date', 'high', 'low', 'open', 'close']
close_data = close_data[cols_order]

In [134]:
def format_output(df):
    
    res = ""
    for index, row in df.iterrows():
        res+= "{} \tEOD Data\n".format(row['stock'])
        res+= "---Date: {}\n".format(row['date'])
        res+= "---Open: {:.2f}\n".format(np.round(row['open'], 2))
        res+= "---Close: {:.2f}\n".format(np.round(row['close'], 2))
        res+= "---Low: {:.2f}\n".format(np.round(row['low'], 2))
        res+= "---High: {:.2f}\n\n".format(np.round(row['high'], 2))
        
    return res

In [135]:
print(format_output(close_data))

LAURUSLABS.NS 	EOD Data
---Date: 2021-07-09
---Open: 685.70
---Close: 680.20
---Low: 676.70
---High: 687.00

ADANIENT.NS 	EOD Data
---Date: 2021-07-09
---Open: 1425.90
---Close: 1431.35
---Low: 1416.45
---High: 1456.60

ADANIPORTS.NS 	EOD Data
---Date: 2021-07-09
---Open: 712.50
---Close: 728.50
---Low: 708.35
---High: 737.00

In [133]:
res = ""

for index, row in close_data.iterrows():
    res+= "{} \tEOD Data".format(row['stock'])
    print"---Date: {}".format(row['date'])
    print("---Open: {}".format(np.round(row['open'],2))
    print("---Close: {}".format(np.round(row['close'],2))
    print("---Low: {}".format(np.round(row['low'],2))
    print("---High: {}\n".format(np.round(row['high'], 2))

SyntaxError: invalid syntax (<ipython-input-133-0d8863da8b47>, line 5)

In [99]:
tmp = close_data.stack()
# print(tmp.to_csv(sep='\t'))
tmp.to_frame()

                     0
0 stock  LAURUSLABS.NS
  date      2021-07-09
  high             687
  low            676.7
  open           685.7
  close          680.2
1 stock    ADANIENT.NS
  date      2021-07-09
  high          1456.6
  low          1416.45
  open          1425.9
  close        1431.35
2 stock  ADANIPORTS.NS
  date      2021-07-09
  high             737
  low           708.35
  open           712.5
  close          728.5

In [130]:
import numpy as np
np.round(5.090931, 2)

5.09

In [144]:
tmp = '!track buy lauruslabs  350 '
tmp = tmp.strip()

In [149]:
import pip
installed_packages = pip.get_installed_distributions()
installed_packages_list = sorted(["%s==%s" % (i.key, i.version)
     for i in installed_packages])
print(installed_packages_list)

AttributeError: module 'pip' has no attribute 'get_installed_distributions'